/*Variables*/
:root{
     --bg-color:#ebebeb;
     --input-placeholder:#d4d4d4;
     --input-bg: #efefef;
     --texto-destaque:#FFFF;
     --azul-destaque: #2a7ae4;
     --bg-contacto: #Eaf2fd;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    font-weight: 800;
}
header{
    background-color:  #FFFFFF;
    padding: 32.5px 155px 0 0 ;
   
    
}
nav{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
padding-bottom: 32px;
    
}
/*-divs header-*/
.logo-busqueda{

    margin-left: 175px;
    width: 100%;
    display: flex;
    align-items: center;
    
    
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height: 50px;
    width: 50px;
}
.logo p{
    font-size: 26px;
    font-weight: bold;
}
.logo .logo-azul{
    margin-left:10px ;
    color:#2A7AE4 ;
}
.logo-busqueda input{
    margin-left: 10%;
    width: 395px;
    height: 16px;
    line-height: 19px;
    border-radius:30px;
    padding: 1% 3%;
    border: none;
    background-color: #F5F5F5;
    background-image: url("../assets/Lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 420px;
    }
.login{
    width: 600px;
    display: flex;
    justify-content: end;

}
.login button{
    width: 182px;
    height: 51px;
    background:none;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;

}
.login button:hover{
background-color: #2A7AE4;
color: black;
}

/* banner*/

.destaque{
    height: 352px;
    background-image: url(../assets/banner-image.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 32px;
   

}
.banner{
  
    width: 750px;
    height: 320px;  
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;

}
.banner h1{
color: #FFFFFF;
font-size: 52px;
font-weight: bold;
}
.banner h4{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
}
.banner button{
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    height: 51px;
    width: 130px;
}
/*Sec prods*/
.geral-prods{
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    width: 60vw;
    margin:0 auto;
}
.prod-titulo{
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    margin-bottom: 16px;
    padding-left: 8px;
}
.prod-titulo .titulo{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}
.mostrar-mas{
font-weight: bold;
font-size: 16px;

}
.mostrar-mas a{
    color: var(--azul-destaque);
    display: flex;
    align-items: center;
}
.flecha{
    width: 24px;
    height: 24px;
}
.seccion-productos{
height: 310px;
width: 60vw;
display: flex;
justify-content: space-between;

}
.seccion-productos li{
    margin: 8px;
}
.seccion-productos li figure {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 176px;
    height: 294px;
}
.seccion-productos li figure p{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.seccion-productos li figure a{
    color: var(--azul-destaque);
 
}
/*Contact form*/
.contact-form{
    background-color: var( --bg-contacto);
    display: flex;
}
.contenedor{
    padding:64px 20vw;
    display: flex;
    align-items: center;


}
.contact-form .logo {
    align-self: flex-start;
    margin-top: 10px;
}
.lista-contacto{
    flex-direction: column;
    margin: 0 100px 0 100px;
    height: 221px;

}
.lista-contacto li {
    margin: 0px 10px 24px 10px;
    width: 200px;
    font-size: 16px;
    line-height: 19px;
}
.lista-contacto li a{
    font-weight: 500;
    color: #464646;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:32px;
    background: #FFFFFF;
    color: #2A7AE4;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}
.caja-contacto label{
    width: 560px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:  #464646;
    margin-top: 25px;
}
.caja-contacto {
display: flex;
flex-direction: column;

}
.caja-contacto input{
    margin: 8px 0 8px 0;
    width: 560px;
    height: 56px;
    border-style: none;
    padding: 5px 10px 0 10px;
}
.caja-contacto input::placeholder{
    color: var(--input-placeholder);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

}

.caja-contacto textarea{
    margin: 8px 0 8px 0;
    width: 560px;
    height: 82px;
    border-style: none;
    padding: 5px 10px 0 10px;
}
.caja-contacto textarea::placeholder{
    padding-top: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--input-placeholder);
}
.caja-contacto button{
    width: 144px;
    height: 51px;
    background-color: #2A7AE4;
    color: var(--texto-destaque);
    border-style: none;
}